<h1>Your Decks</h1>
<br>
<a id="newDeck"><%= link_to 'New Deck', new_card_deck_path %></a>
<br>
<table>
  <tr>
    <th>Deck Name</th>
  </tr>
 
  <% @cardDecks.each do |cardDeck| %>
    <tr>
      <td><%= cardDeck.name %></td>
      <td><%= link_to 'Show', card_deck_path(cardDeck) %></td>
      <td><%= link_to 'Edit', edit_card_deck_path(cardDeck) %></td>
      <td><%= link_to 'Destroy',
                                card_deck_path(cardDeck),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>