<<<<<<< HEAD

<body>
  <strong>Deck Name: <%= @cardDeck.name %></strong>
<br>
<br>

  <div class="row">
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
         <h3>Card Name</h3>
          <p>Power:</p>
          <p>Description:</p>
        </div>
      </div>
    </div>
  
    
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
          <h3>Card Name</h3>
          <p>Power:</p>
          <p>Description:</p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
        <h3>Card Name</h3>
          <p>Power:</p>
          <p>Description:</p> 
        </div>
      </div>
    </div>
  </div>

</body>
=======
<p>
<strong>Deck Name:</strong>
<%= @cardDeck.name %>
</p>
<p>
<div class="card">
  <%= image_tag "leonidas.jpg" %>
  <div class="container">
    <h4><b>Double Sword</b></h4> 
    <ul>
      <li>Power: 65%</li>
      <li>Health: 400</li>
      <li>Rarity: Common</li>
    </ul 
  </div>
</div>
</p>
<%= link_to 'New Card', new_card_path %>

<%= link_to 'Delete Deck',
                          card_deck_path(@cardDeck),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>

</p>
>>>>>>> ba8dbd40a814a4ad00528b2815aa68df81ed154e
