<div class="container center">
    
    <h1><%= @user.name %>'s decks</h1>
    
    <table class="table">
        <thread>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cards</th>
                <th scope="col">Point Value</th>
                <th scope="col"></th>
            </tr>
        </thread>
        <tbody>
            <% @user.card_decks.each do |deck| %>
                <tr>
                    <td><%= deck.name %></td>
                    <td><%= deck.cards.count %></td>
                    <td>POINT VALUE</td>
                    <td>
                        <%= link_to "View Deck", card_deck_url(deck), :class => "btn btn-secondary" %>
                        <% if @user == current_user %>
                            <%= link_to "Edit Deck", edit_card_deck_url(deck), :class => "btn btn-primary" %>
                        <% end %>
                    </td>
                    
                </tr>
            <% end %>
        </tbody>
    </table>
    
    
    
    
    <% if(@user == current_user) %>
        <%= link_to "New Deck", new_card_deck_path, :class => "btn btn-primary" %>
    <% end %>
</div>