<div class="row">
    <div class="column card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
            <h3>Card Name: <%= card.title %></h3>
            <h3>Stats: <%= card.stats %></p>
            <h3>Description: <%= card.description %></p>
            <h3>Category: <%= card.category %></h3>
        </div>
    </div>
</div>