<h1>All Cards</h1>
<table class="table">
    <thread>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Stats</th>
            <th scope="col">Category</th>
            <th scope="col">Point Value</th>
            <th scope="col"></th>
        </tr>
    </thread>
    <tbody>
        <% @cards.each do |card| %>
            <tr>
                <td><%= card.title %></td>
                <td><%= card.description %></td>
                <td><%= card.stats %></td>
                <td><%= card.category %></td>
                <td>POINT VALUE</td>
                <td>
                    <%= link_to "View Card", card_url(card), :class => "btn btn-primary" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>