<!DOCTYPE html>
<html>
<head>
<div class="m-5 pb-5">
<div class="jumbotron">
  <h1 class="display-4">Cards</h1>
  <p class="lead">Choose any of the available cards.</p>
</div>
</div>
</head>
<body>
<div class="m-5 pb-5">

<table class="table">
    <thread>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Stats</th>
            <th scope="col">Category</th>
            <th scope="col">Point Value</th>
            <th scope="col"></th>
        </tr>
    </thread>
    <tbody>
        <% @cards.each do |card| %>
            <tr>
                <td><%= card.title %></td>
                <td><%= card.description %></td>
                <td><%= card.stats %></td>
                <td><%= card.category %></td>
                <td>POINT VALUE</td>
                <td>
                    <%= link_to "View Card", card_url(card), :class => "btn btn-primary" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="card-deck">
    <a href="" class="custom-card">
    <div class="card">
    <%= image_tag("placeholder.png", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Archers</h5>
      <p class="card-text">A pair of lighly armored ranged attackers. They will take down air and ground units.</p>
       <ul class="list-group list-group-flush">
        <li class="list-group-item">Points: 25</li>
        <li class="list-group-item">Rarity: Rare</li>
      </ul>
    </div>
  </div>
  </a>
  <a href="" class="custom-card">
  <div class="card">
    <%= image_tag("placeholder.png", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Spartans</h5>
      <p class="card-text">Deploys a line of spartans armed with spears, shields, and bronze helmets.</p>
       <ul class="list-group list-group-flush">
        <li class="list-group-item">Points: 100</li>
        <li class="list-group-item">Rarity: Epic</li>
       </ul>
    </div>
  </div>
   </a>
    </div>
  </div>
</body>