<!DOCTYPE html>
<html>
  <head>
    <title>Deck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Deck Battle</a>
      
      <% if logged_in? %>
      
        <form class="form-inline my-2 my-lg-0">
          Hello, <%= current_user.name %>!
          
          <button type="button" class="btn btn-secondary my-2 my-sm-0">
            <%= link_to 'Log out', logout_path, method: :delete %>
          </button>
        </form>
        
        
        
      <% else %>
      
        <form class="form-inline my-2 my-lg-0">
          <button type="button" class="btn btn-primary">
            <%= link_to "Sign up", new_user_path %>
          </button>
        
          <button type="button" class="btn btn-secondary">
            <%= link_to "Log in", login_path %>
          </button>
        </form>
        
      <% end %>
    </nav>
    
    <%= yield %>
  </body>
</html>
